*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #dcdde1;

}
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.gall{
    font-family: 'Pacifico', cursive;
    font-size: 3rem!important;
}
.navbar{
    padding: 50px 0;
}
.navbar-brand{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
    transition: 0.3s ease;
}
.navbar-brand:hover{
    color: #262626 !important;

}
.navbar-dark .navbar-brand{
    color: #dcdde1;
}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover{
transition: 0.3s ease;
transition-property: background;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    background-color: #dcdde1;
    color: #262626;
}
.main{
    position: relative;
    background: url(pexels-adrien-olichon-2387793.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 220px 0 200px;
}
.main h2{
    margin: 0;
    padding: 0;
    font-size: 2.8rem;
    color: #dcdde1;
    font-weight: bold;
    letter-spacing: 1px;
}
.Dark{
    background-color: #121518;
    color: #dcdde1!important;
}
.main p{
    margin-top: 1.5rem;
    padding: 0;
    font-size: 1.3rem;
    color: #dcdde1;

}
.main .btn{
    background-color: #718693;
    color: #dcdde1;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s ease;
    transition-property: radius;
}
.main .btn:hover{
    border-radius: 50px;
}
.boldy{
    font-size: 1.7rem;
    font-weight: 600;
}
.line{
    text-decoration: underline;
    cursor: pointer;
}
footer{
    background-color: #262626;
}
footer .logos{
    font-size: 1.7rem;
    color: #fff;
    transition: 0.3s ease;
    transition-property: color;
  }
.chemsa a{
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: #dcdde1!important ;
    text-decoration: none;
  }
  footer .logos:hover{
    color: #363636!important;
  }

  .socket{
    background-color: #363636;
    border-top: .rem solid rgb(176, 175, 219);
  }
  .socket p {
    color: #718693!important;
  }
  .socket p a{
    color: #718693!important;
  }
@media (max-width: 576px){
    .main{
        padding: 200px 0;
    }
    .main h2{
        font-size: 2.3rem;
    }
}